force-app/main/default/flows/NIIM_Declaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>boolanCommercialInterest</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Do  Have a commercial interest in one or more of the products for which I am applying&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanHave</name>
        <choiceText>Have</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanHaveNot</name>
        <choiceText>Have Not</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanNoCommercialInterest</name>
        <choiceText>Do Not Have have a commercial interest in any of the products for which I am applying</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>do_have_commercial_interest</name>
        <choiceText>do have a commercial interest in one or more of the products for which I am applying. &amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>donot_have_commercial_interest</name>
        <choiceText>do not have a commercial interest in one or more of the products for which I am applying. &amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>have</name>
        <choiceText>have</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>havenot</name>
        <choiceText>have not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <interviewLabel>NIIM Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIIM Declaration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>updateApp</name>
        <label>updateApp</label>
        <locationX>506</locationX>
        <locationY>225</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applied_To_Other_HREC_In_Past_12_Months__c</field>
            <value>
                <elementReference>BooleanHaveorHaveNot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Interest_Details__c</field>
            <value>
                <elementReference>commercialdetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Interest__c</field>
            <value>
                <elementReference>booleanCommercialRadioButtons</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>scr1</name>
        <label>scr1</label>
        <locationX>176</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateApp</targetReference>
        </connector>
        <fields>
            <name>logo</name>
            <fieldText>&lt;p&gt;{!niimlogo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pideclaration</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line1</name>
            <fieldText>&lt;p&gt;a) I certify that I&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BooleanHaveorHaveNot</name>
            <choiceReferences>booleanHave</choiceReferences>
            <choiceReferences>booleanHaveNot</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line2</name>
            <fieldText>&lt;p&gt;applied for Authorised Prescriber approval of another Australian HREC &lt;i style=&quot;color: rgb(37, 95, 166);&quot;&gt;(not NIIM)&lt;/i&gt; within the last 12 months.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>morelines</name>
            <fieldText>&lt;p&gt;b. I undertake to remain up to date in relation to knowledge about potential future approved goods that may be entered on the ARTG that could be used instead of the unapproved good, and where a suitable alternative good becomes available on the ARTG, stop using the unapproved good. Where there is a good reason to continue using the unapproved good, I undertake to reapply for approval, submitting a clinical justification to the HREC on why you want to use the unapproved good instead of the now approved good.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;c. I undertake to provide the HREC with six-monthly reports as required by the TGA&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;d. I agree to abide by any conditions set by the HREC and/or TGA in relation to approval to use the unapproved good.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;e. I certify that the information I have provided in this application is true and accurate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>anotherline</name>
            <fieldText>&lt;p&gt;f) I certify that&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>booleanCommercialRadioButtons</name>
            <choiceReferences>boolanCommercialInterest</choiceReferences>
            <choiceReferences>booleanNoCommercialInterest</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>commercialdetails</name>
            <fieldText>Details of my commercial interests are as follows:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>booleanCommercialRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>boolanCommercialInterest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>scr1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>niimlogo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://niim--c.ap11.content.force.com/sfc/servlet.shepherd/version/download/0682s000003gED7?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>havehavenot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1d2s00000012C0AAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>xxxxxx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
