force-app/main/default/flows/NIIM_Open_Changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>addToCollection</name>
        <label>addToCollection</label>
        <locationX>1321</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>changesRequiredCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>changesloop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>changesloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addtotext</name>
        <label>addtotext</label>
        <locationX>90</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>outputText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;For the document: {!listchangesloop.Document__c} -  {!listchangesloop.Change_Required__c}&lt;/li&gt;&lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>listchangesloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assigncomments</name>
        <label>assigncomments</label>
        <locationX>1151</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>changesloop.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Your_completion_notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changesloop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Modified by Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>changes_made</name>
        <label>changes made?</label>
        <locationX>1084</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>changesloop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigncomments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Edit</name>
        <label>Edit</label>
        <locationX>246</locationX>
        <locationY>222</locationY>
        <defaultConnector>
            <targetReference>listchangesloop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>List the Open Changes</defaultConnectorLabel>
        <rules>
            <name>Edit_the_Open_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFlowMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrwelcome</targetReference>
            </connector>
            <label>Edit the Open Changes</label>
        </rules>
    </decisions>
    <interviewLabel>NIIM Open Changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIIM Open Changes</label>
    <loops>
        <name>changesloop</name>
        <label>changesloop</label>
        <locationX>968</locationX>
        <locationY>176</locationY>
        <collectionReference>getOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>scrout</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateChanges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>listchangesloop</name>
        <label>listchangesloop</label>
        <locationX>254</locationX>
        <locationY>382</locationY>
        <collectionReference>getOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addtotext</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>listscr</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOpen</name>
        <label>getOpenChanges</label>
        <locationX>494</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Changes_Required__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateChanges</name>
        <label>updateChanges</label>
        <locationX>670</locationX>
        <locationY>364</locationY>
        <inputReference>changesRequiredCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>listscr</name>
        <label>listscr</label>
        <locationX>255</locationX>
        <locationY>556</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayoutput</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Changes Requested&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;NIIM has requested the following changes be made to your application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!outputText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrout</name>
        <label>scrout</label>
        <locationX>883</locationX>
        <locationY>354</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>changes_made</targetReference>
        </connector>
        <fields>
            <name>showdocument</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Change Required&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!changesloop.Change_Required__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Document&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!changesloop.Document__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>completion</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Completion Notes&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>I have made the change required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Your_completion_notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>changesloop.Comments__c</elementReference>
            </defaultValue>
            <fieldText>Please tell us what changes were made</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrwelcome</name>
        <label>scrwelcome</label>
        <locationX>363</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>changesloop</targetReference>
        </connector>
        <fields>
            <name>weclometext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Your Open Changes&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please record your completion of the open changes on the following screens.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOpen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>changesRequiredCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Changes_Required__c</objectType>
    </variables>
    <variables>
        <name>outputText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;ul&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1d0l000000rDvEAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFlowMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>List</stringValue>
        </value>
    </variables>
</Flow>
