force-app/main/default/flows/NIIM_Declaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>boolanCommercialInterest</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Do  Have a commercial interest in one or more of the products for which I am applying&lt;/span&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanHave</name>
        <choiceText>Have</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanHaveNot</name>
        <choiceText>Have Not</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>booleanNoCommercialInterest</name>
        <choiceText>Do Not Have have a commercial interest in any of the products for which I am applying</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>do_have_commercial_interest</name>
        <choiceText>do have a commercial interest in one or more of the products for which I am applying. &amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>donot_have_commercial_interest</name>
        <choiceText>do not have a commercial interest in one or more of the products for which I am applying. &amp;nbsp;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>have</name>
        <choiceText>have</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>havenot</name>
        <choiceText>have not</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>no_Dont_Submit</name>
        <choiceText>No, I need more time</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No_submit</name>
        <choiceText>No, I need more time</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Submit</name>
        <choiceText>Yes, submit. my application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>is_this_record_updateable</name>
        <label>is this record updateable?</label>
        <locationX>160</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>scrlocked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No its not updateable</defaultConnectorLabel>
        <rules>
            <name>Yes_updateable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrcert_and_declaration</targetReference>
            </connector>
            <label>Yes updateable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_or_not</name>
        <label>Submit the App?</label>
        <locationX>705</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>moretimescr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More time needed</defaultConnectorLabel>
        <rules>
            <name>SubmitApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_submit_your_application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateApp</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <interviewLabel>NIIM Declaration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIIM Declaration - Production</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getApplication</name>
        <label>get the Application record</label>
        <locationX>176</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_this_record_updateable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateApp</name>
        <label>update Application fields and set status</label>
        <locationX>904</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>scrthanks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Applied_To_Other_HREC_In_Past_12_Months__c</field>
            <value>
                <elementReference>BooleanHaveorHaveNot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Interest_Details__c</field>
            <value>
                <elementReference>commercialdetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commercial_Interest__c</field>
            <value>
                <elementReference>booleanCommercialRadioButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted for Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>moretimescr</name>
        <label>End, more time requersted</label>
        <locationX>714</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>moretime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;More Time Requested&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Application has not been submitted at this time.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrcert_and_declaration</name>
        <label>Ask for certification and upload</label>
        <locationX>324</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrdubmit</targetReference>
        </connector>
        <fields>
            <name>almostdone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Almost done&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Application: {!getApplication.Name}&lt;/p&gt;&lt;p&gt;Practitioner: : {!getApplication.Practitioner_s_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is the final stage of  your application.   Please complete the certification sections below and upload your signed declaration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>certtext</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Certification&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;a. I certify that I&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BooleanHaveorHaveNot</name>
            <choiceReferences>booleanHave</choiceReferences>
            <choiceReferences>booleanHaveNot</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>line2</name>
            <fieldText>&lt;p&gt;applied for Authorised Prescriber approval of another Australian HREC &lt;i style=&quot;color: rgb(37, 95, 166);&quot;&gt;(not NIIM)&lt;/i&gt; within the last 12 months.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>morelines</name>
            <fieldText>&lt;p&gt;b. I undertake to remain up to date in relation to knowledge about potential future approved goods that may be entered on the ARTG that could be used instead of the unapproved good, and where a suitable alternative good becomes available on the ARTG, stop using the unapproved good. Where there is a good reason to continue using the unapproved good, I undertake to reapply for approval, submitting a clinical justification to the HREC on why you want to use the unapproved good instead of the now approved good.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;c. I undertake to provide the HREC with six-monthly reports as required by the TGA&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;d. I agree to abide by any conditions set by the HREC and/or TGA in relation to approval to use the unapproved good.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;e. I certify that the information I have provided in this application is true and accurate&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>anotherline</name>
            <fieldText>&lt;p&gt;f) I certify that&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>booleanCommercialRadioButtons</name>
            <choiceReferences>boolanCommercialInterest</choiceReferences>
            <choiceReferences>booleanNoCommercialInterest</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>commercialdetails</name>
            <fieldText>Details of my commercial interests are as follows:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>booleanCommercialRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>boolanCommercialInterest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>completethescan</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Signed Declaration&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To complete your application please print and sign and scan the declaration we emailed to you.  Then use the button below to upload the scan.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>uploadsigneddeclaration</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Signed Declaration</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrdubmit</name>
        <label>Make a submit decision</label>
        <locationX>513</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_or_not</targetReference>
        </connector>
        <fields>
            <name>submit</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Submit Application&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;On submission your application will be reviewed by the NIIM HREC team.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_like_to_submit_your_application</name>
            <choiceReferences>Yes_Submit</choiceReferences>
            <choiceReferences>No_submit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to submit your application?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrlocked</name>
        <label>End, the record is locked</label>
        <locationX>436</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sorry_currently_locked</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Application Locked&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sorry, this application has already been submitted is  currently locked.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrthanks</name>
        <label>Thanks &amp; End</label>
        <locationX>1122</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>thanks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Application Submitted.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thankyou for submitting your application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>niimlogo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://niim--c.ap11.content.force.com/sfc/servlet.shepherd/version/download/0682s000003gED7?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>havehavenot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1d2s00000012C0AAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>xxxxxx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
