force-app/main/default/flows/NIIM_Application_Files_List_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assemble_File_List</name>
        <label>Assemble File List</label>
        <locationX>420</locationX>
        <locationY>128</locationY>
        <actionName>InvocableFileList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>cvloop</targetReference>
        </connector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>inboundApplicationId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varCVCollection</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>appendfiles</name>
        <label>appendfiles</label>
        <locationX>740</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>filesoutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!cvloop.Title} {!cvloop.FileType} {!cvloop.ContentSize} bytes &lt;br/&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cvloop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NIIM. Application Files List Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIIM. Application Files List Subflow</label>
    <loops>
        <name>cvloop</name>
        <label>cvloop</label>
        <locationX>542</locationX>
        <locationY>252</locationY>
        <collectionReference>varCVCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>appendfiles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>screen12</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen12</name>
        <label>screen12</label>
        <locationX>787</locationX>
        <locationY>38</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PIfiles</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>prev</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Previous Attachments&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayfiles</name>
            <fieldText>&lt;p&gt;{!filesoutput}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>addfiledialog</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>inboundApplicationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload New Files</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assemble_File_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>niimlogo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://niim--mbdevp1--c.documentforce.com/sfc/servlet.shepherd/version/download/0680l000001nbil?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>filesoutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;b&gt;Files Already Added&lt;/b&gt; &lt;br/&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>inboundApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCVCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
