force-app/main/default/flows/PROTOTYPE_UPDATE_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>asgnDeclarationStg</name>
        <label>Set Declaration Stage</label>
        <locationX>1310</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declarations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NIIM_Declaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnGoodIndsStg</name>
        <label>Set Product Stage</label>
        <locationX>441</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goods_and_Indications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopscr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnPrescriberStg</name>
        <label>Set Prescriber Stage</label>
        <locationX>1238</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescriber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>The_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnSupportDocsStg</name>
        <label>Set Supporting Docs Stage</label>
        <locationX>1201</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Application_Supporting_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignupdates</name>
        <label>assignupdates</label>
        <locationX>50</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>myloop.Clinical_Justification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPD_Clinical_Justification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Active_Ingredients_Concentrations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDActive_Ingredient_s_And_Concentrations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.App_Good_Indications_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDOther_Clinical_Indications_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Approved_Good_Alternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDIs_there_an_approved_Good_for_the_same_indication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDDosage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Dosage_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDDosage_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Dosage_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDDosage_Range</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Expected_Duration_Of_Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDExpected_Duration_of_Treatment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Justification_Not_Using_Alternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDClinical_justification_for_using_the_unapproved_good</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Seriousness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDSeriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Tried_Will_Try_Approved_Alternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDHave_you_already_or_will_you_attempt_to_use_the_approved_good_prior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Justification_Not_Using_Alternative__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDWhy_is_the_approved_good_inappropriate_or_unsuitable_for_use</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Product_Trade_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDProduct_Trade_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Product_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDProduct_Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDSponsor_Company_From_Whom_You_Will_Obtain_The_Unapproved_Good</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Seriousness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDSeriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Product_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDProduct_Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Product_Trade_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDProduct_Trade_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myloop.Sponsor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UPDSponsor_Company_From_Whom_You_Will_Obtain_The_Unapproved_Good</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updacollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Indications_and_Dosages</name>
        <label>Set Indications and Dosages</label>
        <locationX>1028</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indications_Dosage_and_Justifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>The_Unapproved_Goods_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setIndications</name>
        <label>setIndications</label>
        <locationX>186</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indications_Dosage_and_Justifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopscr2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updacollection</name>
        <label>Build the App-Good update collection</label>
        <locationX>335</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>appgoodcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>myloop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myloop</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddNomoregoods</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancerRelatedPain</name>
        <choiceText>Cancer Related Pain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer Related Pain</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChemotherapyinducednauseaVomiting</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Chemotherapy induced nausea &amp;amp; Vomiting (CINV)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chemotherapy induced nausea &amp; Vomiting (CINV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insomnia</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Insomnia&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insomnia</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeuropathicPain</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Neuropathic Pain&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neuropathic Pain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nomoregoods</name>
        <choiceText>No, I&apos;m finished adding goods</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other (please specify below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parkinsons</name>
        <choiceText>Parkinsons</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parkinsons</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesMore</name>
        <choiceText>Yes, I want to add more</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_this_record_updateable</name>
        <label>Is this record updateable?</label>
        <locationX>758</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>scrsorry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not updateable</defaultConnectorLabel>
        <rules>
            <name>Updateable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getApplication.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getApplication.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned to Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome</targetReference>
            </connector>
            <label>Updateable</label>
        </rules>
    </decisions>
    <decisions>
        <name>WantToAddMoreGoods</name>
        <label>Want To Add More Goods?</label>
        <locationX>953</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>asgnDeclarationStg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIWantto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radiodecide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesMore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Indications_and_Dosages</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>PROTOTYPE UPDATE Applciation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PROTOTYPE UPDATE Application</label>
    <loops>
        <name>myloop</name>
        <label>myloop</label>
        <locationX>656</locationX>
        <locationY>300</locationY>
        <collectionReference>getAppGoods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgnGoodIndsStg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateappgoodscollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_App_Good</name>
        <label>Create New App-Good Record</label>
        <locationX>737</locationX>
        <locationY>722</locationY>
        <assignRecordIdToReference>NewAppGood.Id</assignRecordIdToReference>
        <connector>
            <targetReference>More_Goods</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Ingredients_Concentrations__c</field>
            <value>
                <elementReference>Active_Ingredient_s_And_Concentrations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Good_Indications_Description__c</field>
            <value>
                <elementReference>Other_Clinical_Indications_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Good_Indications__c</field>
            <value>
                <elementReference>Which_clinical_indications_will_this</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Good_Alternative__c</field>
            <value>
                <elementReference>Is_there_an_approved_Good_for_the_same_indication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_In_Other_Jurisdiction__c</field>
            <value>
                <elementReference>Is_this_Good_approved_for_use_in_other_Jurisdictions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Justification__c</field>
            <value>
                <elementReference>clinical_justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Form__c</field>
            <value>
                <elementReference>LTDosage_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Range__c</field>
            <value>
                <elementReference>Dosage_Range</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>LTDosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Duration_Of_Treatment__c</field>
            <value>
                <elementReference>Expected_Duration_of_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Justification_Not_Using_Alternative__c</field>
            <value>
                <elementReference>Why_is_the_approved_good</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Company__c</field>
            <value>
                <elementReference>Product_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Trade_Name__c</field>
            <value>
                <elementReference>Product_Trade_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seriousness__c</field>
            <value>
                <elementReference>Seriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor__c</field>
            <value>
                <elementReference>Sponsor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tried_Will_Try_Approved_Alternative__c</field>
            <value>
                <elementReference>Have_you_already_or_will_you_attempt_to_use_the_approved_good_prior_to_supplying</elementReference>
            </value>
        </inputAssignments>
        <object>App_Good__c</object>
    </recordCreates>
    <recordLookups>
        <name>getAppGoods</name>
        <label>Get all related App-Goods</label>
        <locationX>807</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myloop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>App_Good__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getApplication</name>
        <label>getApplication</label>
        <locationX>613</locationX>
        <locationY>169</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_record_updateable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateappgoodscollection</name>
        <label>Update the App-Good records</label>
        <locationX>569</locationX>
        <locationY>530</locationY>
        <connector>
            <targetReference>More_Goods</targetReference>
        </connector>
        <inputReference>appgoodcollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateApplication</name>
        <label>update the Application</label>
        <locationX>1613</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>asgnSupportDocsStg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>ABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AHPRA_Number__c</field>
            <value>
                <elementReference>AHPRA_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Provider_Number__c</field>
            <value>
                <elementReference>Medicare_Provider_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_s_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Association_Membership__c</field>
            <value>
                <elementReference>Professional_Association_Membership_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications_and_Expertise__c</field>
            <value>
                <elementReference>Qualifications_and_Expertise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Management_Strategy__c</field>
            <value>
                <elementReference>RiskManagementStrategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sites__c</field>
            <value>
                <elementReference>Sites</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordUpdates>
    <screens>
        <name>Append_Product_Information</name>
        <label>Attach Product Information Docs</label>
        <locationX>982</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_App_Good</targetReference>
        </connector>
        <fields>
            <name>progresspropducts</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_2B</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Product Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload any relevant product information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Information_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Information Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varApplicationId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm</name>
        <label>Confirm Details Screen</label>
        <locationX>1496</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateApplication</targetReference>
        </connector>
        <fields>
            <name>PIconfirmandsubmit</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmheader</name>
            <fieldText>&lt;p&gt;Please review the information you have provided and press NEXT to save your application and proceed to the next step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirms</name>
            <fieldText>&lt;p&gt;{!confirminput}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>loopscr</name>
        <label>Update Product</label>
        <locationX>314</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setIndications</targetReference>
        </connector>
        <fields>
            <name>PIupdate</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDProduct_Trade_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>myloop.Product_Trade_Name__c</elementReference>
            </defaultValue>
            <fieldText>Product Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDProduct_Company</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>myloop.Product_Company__c</elementReference>
            </defaultValue>
            <fieldText>Product Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDActive_Ingredient_s_And_Concentrations</name>
            <defaultValue>
                <stringValue>{!myloop.Active_Ingredients_Concentrations__c}</stringValue>
            </defaultValue>
            <fieldText>Active Ingredient(s) And Concentrations</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDDosage_Form</name>
            <defaultValue>
                <stringValue>{!myloop.Dosage_Form__c}</stringValue>
            </defaultValue>
            <fieldText>Dosage Form</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDDosage</name>
            <defaultValue>
                <stringValue>{!myloop.Dosage__c}</stringValue>
            </defaultValue>
            <fieldText>Dosage</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPD_Clinical_Justification</name>
            <defaultValue>
                <stringValue>{!myloop.Clinical_Justification__c}</stringValue>
            </defaultValue>
            <fieldText>Clinical Justification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDSponsor_Company_From_Whom_You_Will_Obtain_The_Unapproved_Good</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>myloop.Sponsor__c</elementReference>
            </defaultValue>
            <fieldText>Sponsor (Company From Whom You Will Obtain The Unapproved Good)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDIs_this_Good_approved_for_use_in_other_Jurisdictions</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>myloop.Approved_In_Other_Jurisdiction__c</elementReference>
            </defaultValue>
            <fieldText>Is this Good approved for use in other Jurisdictions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>loopscr2</name>
        <label>Update Treatment</label>
        <locationX>50</locationX>
        <locationY>366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignupdates</targetReference>
        </connector>
        <fields>
            <name>PIupdate2</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UPDOther_Clinical_Indications_Notes</name>
            <defaultValue>
                <stringValue>{!myloop.App_Good_Indications_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Other Clinical Indications Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDSeriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</name>
            <defaultValue>
                <stringValue>{!myloop.Seriousness__c}</stringValue>
            </defaultValue>
            <fieldText>Seriousness of the medical condition(s) for which the good will be used</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDDosage_Range</name>
            <defaultValue>
                <stringValue>{!myloop.Dosage_Range__c}</stringValue>
            </defaultValue>
            <fieldText>Dosage Range</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDExpected_Duration_of_Treatment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>myloop.Expected_Duration_Of_Treatment__c</elementReference>
            </defaultValue>
            <fieldText>Expected Duration of Treatment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDClinical_justification_for_using_the_unapproved_good</name>
            <defaultValue>
                <stringValue>{!myloop.Clinical_Justification__c}</stringValue>
            </defaultValue>
            <fieldText>Clinical justification for using the unapproved good.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDIs_there_an_approved_Good_for_the_same_indication</name>
            <defaultValue>
                <stringValue>{!myloop.Approved_Good_Alternative__c}</stringValue>
            </defaultValue>
            <fieldText>Is there an approved Good for the same indication?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDHave_you_already_or_will_you_attempt_to_use_the_approved_good_prior</name>
            <defaultValue>
                <stringValue>{!myloop.Tried_Will_Try_Approved_Alternative__c}</stringValue>
            </defaultValue>
            <fieldText>Have you already or will you attempt to use the approved good prior to supplying the unapproved good?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UPDWhy_is_the_approved_good_inappropriate_or_unsuitable_for_use</name>
            <defaultValue>
                <stringValue>{!myloop.Justification_Not_Using_Alternative__c}</stringValue>
            </defaultValue>
            <fieldText>Why is the approved good inappropriate or unsuitable for use?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_Goods</name>
        <label>More Goods</label>
        <locationX>737</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WantToAddMoreGoods</targetReference>
        </connector>
        <fields>
            <name>PIcontinue</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>radiodecide</name>
            <choiceReferences>YesMore</choiceReferences>
            <choiceReferences>AddNomoregoods</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add more Goods to this application??</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrsorry</name>
        <label>Sorry, End</label>
        <locationX>1047</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sorry</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Application Locked&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sorry this application is now locked and can not be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Prescriber</name>
        <label>Prescriber Entry Screen</label>
        <locationX>1374</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>confirm</targetReference>
        </connector>
        <fields>
            <name>PIprescriber</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_1A</name>
            <fieldText>&lt;p&gt;Please enter the Prescriber details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Practitioner_s_Name__c</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AHPRA_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.AHPRA_Number__c</elementReference>
            </defaultValue>
            <fieldText>AHPRA Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;AHPRA number format is A3N10 e.g. MED0000000001&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!AHPRA_Number},&quot;[A-Z]{3}[0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Medicare_Provider_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Medicare_Provider_Number__c</elementReference>
            </defaultValue>
            <fieldText>Medicare Provider Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Professional_Association_Membership_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Professional_Association_Membership__c</elementReference>
            </defaultValue>
            <fieldText>Professional Association Membership Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ABN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.ABN__c</elementReference>
            </defaultValue>
            <fieldText>ABN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Address__c</elementReference>
            </defaultValue>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Phone_Number__c</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getApplication.Email__c</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please use a valid email format&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Qualifications_and_Expertise</name>
            <defaultValue>
                <stringValue>{!getApplication.Qualifications_and_Expertise__c}</stringValue>
            </defaultValue>
            <fieldText>Qualifications and Expertise</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sites</name>
            <defaultValue>
                <stringValue>{!getApplication.Sites__c}</stringValue>
            </defaultValue>
            <fieldText>Sites At Which The Unapproved Good Will Be Prescribed (List All Addresses)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RiskManagementStrategy</name>
            <defaultValue>
                <stringValue>{!getApplication.Risk_Management_Strategy__c}</stringValue>
            </defaultValue>
            <fieldText>Risk Management</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;How will risks associated with the use of the unapproved good by managed? This should address:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Process of obtaining informed consent from patient.&lt;/li&gt;&lt;li&gt;Monitoring and reporting that will be undertaken (include details of interval and duration of monitoring)&lt;/li&gt;&lt;li&gt;Process of investigating   and reporting adverse   events&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;i&gt;Please append &lt;/i&gt;&lt;b&gt;&lt;i&gt;Informed Consent Form&lt;/i&gt;&lt;/b&gt;&lt;i&gt; (which will be signed by patients).&lt;/i&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Unapproved_Goods_1</name>
        <label>enter new App-Good</label>
        <locationX>1165</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unapproved_Goods_Screen2</targetReference>
        </connector>
        <fields>
            <name>PIGoods_and_Indications</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_2A</name>
            <fieldText>&lt;p&gt;The Unapproved Good(s)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Trade_Name</name>
            <dataType>String</dataType>
            <fieldText>Product Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Company</name>
            <dataType>String</dataType>
            <fieldText>Product Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Active_Ingredient_s_And_Concentrations</name>
            <fieldText>Active Ingredient(s) And Concentrations</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LTDosage_Form</name>
            <fieldText>Dosage Form</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LTDosage</name>
            <fieldText>Dosage</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sponsor</name>
            <dataType>String</dataType>
            <fieldText>Sponsor (Company From Whom You Will Obtain The Unapproved Good)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_Good_approved_for_use_in_other_Jurisdictions</name>
            <dataType>String</dataType>
            <fieldText>Is this Good approved for use in other Jurisdictions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unapproved_Goods_Screen2</name>
        <label>new App-Good treatment</label>
        <locationX>1159</locationX>
        <locationY>785</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Append_Product_Information</targetReference>
        </connector>
        <fields>
            <name>PIscreen2</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_clinical_indications_will_this</name>
            <choiceReferences>CancerRelatedPain</choiceReferences>
            <choiceReferences>ChemotherapyinducednauseaVomiting</choiceReferences>
            <choiceReferences>Parkinsons</choiceReferences>
            <choiceReferences>Insomnia</choiceReferences>
            <choiceReferences>NeuropathicPain</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which clinical indications will this Good be used for?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Clinical_Indications_Notes</name>
            <fieldText>Other Clinical Indications Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Seriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</name>
            <fieldText>Seriousness of the medical condition(s) for which the good will be used</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosage_Range</name>
            <fieldText>Dosage Range</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Duration_of_Treatment</name>
            <dataType>String</dataType>
            <fieldText>Expected Duration of Treatment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>clinical_justification</name>
            <fieldText>Clinical justification for using the unapproved good.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_there_an_approved_Good_for_the_same_indication</name>
            <fieldText>Is there an approved Good for the same indication?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_already_or_will_you_attempt_to_use_the_approved_good_prior_to_supplying</name>
            <fieldText>Have you already or will you attempt to use the approved good prior to supplying the unapproved good?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_is_the_approved_good</name>
            <fieldText>Why is the approved good inappropriate or unsuitable for use?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>1107</locationX>
        <locationY>199</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgnPrescriberStg</targetReference>
        </connector>
        <fields>
            <name>PIInitial</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Initial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Update Application  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt; {!getApplication.Name} &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;The following screens will allow you to update your previous responses.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; Press Next to continue.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Add_Application_Supporting_Documents</name>
        <isActive>true</isActive>
        <label>Supporting Docs</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <name>Completed</name>
        <isActive>true</isActive>
        <label>Done</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Confirm_and_Save</name>
        <isActive>false</isActive>
        <label>Confirm and Save</label>
        <stageOrder>22</stageOrder>
    </stages>
    <stages>
        <name>Declarations</name>
        <isActive>true</isActive>
        <label>Declarations</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Goods_and_Indications</name>
        <isActive>true</isActive>
        <label>Product Information</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Indications_Dosage_and_Justifications</name>
        <isActive>true</isActive>
        <label>Treatment Details</label>
        <stageOrder>42</stageOrder>
    </stages>
    <stages>
        <name>Initial</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Prescriber</name>
        <isActive>true</isActive>
        <label>Prescriber</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>253</locationX>
        <locationY>150</locationY>
        <connector>
            <targetReference>getApplication</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Files_List</name>
        <label>Show previously uploaded files</label>
        <locationX>1013</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>getAppGoods</targetReference>
        </connector>
        <flowName>NIIM_Application_Files_List_Subflow</flowName>
        <inputAssignments>
            <name>inboundApplicationId</name>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>NIIM_Declaration</name>
        <label>NIIM Declaration</label>
        <locationX>1463</locationX>
        <locationY>579</locationY>
        <flowName>NIIM_Declaration</flowName>
        <inputAssignments>
            <name>varApplicationId</name>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>confirminput</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!getApplication.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;AHPRA No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!AHPRA_Number}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Medicare Provider No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Medicare_Provider_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Prof. Membership No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Professional_Association_Membership_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;ABN&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ABN}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Phone}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Address}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Sites}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Qualifications and Expertise&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Qualifications_and_Expertise}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Risk Management Strategy&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!RiskManagementStrategy}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>niimlogo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://niim--c.ap11.content.force.com/sfc/servlet.shepherd/version/download/0682s000003fmD0?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TEMPLATE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Goods&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>appgoodcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>App_Good__c</objectType>
    </variables>
    <variables>
        <name>appgoodrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>App_Good__c</objectType>
    </variables>
    <variables>
        <name>CreateNewApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>cv</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>File_Upload_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileUploadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invocablelosttestvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myreccollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>App_Good__c</objectType>
    </variables>
    <variables>
        <name>NewAppGood</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>App_Good__c</objectType>
    </variables>
    <variables>
        <name>NewApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>NewGood</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Good__c</objectType>
    </variables>
    <variables>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a1d0l000000rDGhAAM</stringValue>
        </value>
    </variables>
</Flow>
