force-app/main/default/flows/Streamlined_NIIM_Medicinal_Cannabis_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_declaration</name>
        <label>Generate declaration</label>
        <locationX>840</locationX>
        <locationY>452</locationY>
        <actionName>InvocableNIIMGenerateDeclaration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_information_to_applicant</targetReference>
        </connector>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>NewApplicationRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_information_to_applicant</name>
        <label>Send information to applicant</label>
        <locationX>993</locationX>
        <locationY>542</locationY>
        <actionName>InvocableNIIMApplicationEmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>asgnDeclarationStg</targetReference>
        </connector>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>NewApplicationRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>asgnDeclarationStg</name>
        <label>Set Declaration Stage</label>
        <locationX>1097</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Declarations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>hdrentasnemail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnGoodIndsStg</name>
        <label>Set Product Stage</label>
        <locationX>330</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goods_and_Indications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>The_Unapproved_Goods_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnPrescriberStg</name>
        <label>Set Prescriber Stage</label>
        <locationX>566</locationX>
        <locationY>76</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescriber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>The_Prescriber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asgnSupportDocsStg</name>
        <label>Set Supporting Docs Stage</label>
        <locationX>672</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Application_Supporting_Documents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Supporting_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Indications_and_Dosages</name>
        <label>Set Indications and Dosages</label>
        <locationX>148</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Indications_Dosage_and_Justifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unapproved_Goods_Screen2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CancerRelatedPain</name>
        <choiceText>Cancer Related Pain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancer Related Pain</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChemotherapyinducednauseaVomiting</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Chemotherapy induced nausea &amp;amp; Vomiting (CINV)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Chemotherapy induced nausea &amp; Vomiting (CINV)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insomnia</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Insomnia&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insomnia</stringValue>
        </value>
    </choices>
    <choices>
        <name>NeuropathicPain</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Neuropathic Pain&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neuropathic Pain</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other (please specify below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parkinsons</name>
        <choiceText>Parkinsons</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parkinsons</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_Another_Good</name>
        <label>More Goods?</label>
        <locationX>694</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Generate_declaration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_Unapproved_Goods_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Streamlined NIIM Medicinal Cannabis Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NIIM Medicinal Cannabis Application - Production</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates application record from the form in previous element</description>
        <name>Create_Application_Record</name>
        <label>Create Application Record</label>
        <locationX>981</locationX>
        <locationY>266</locationY>
        <assignRecordIdToReference>NewApplicationRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>get_ApplicationRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>ABN__c</field>
            <value>
                <elementReference>ABN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AHPRA_Number__c</field>
            <value>
                <elementReference>AHPRA_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medicare_Provider_Number__c</field>
            <value>
                <elementReference>Medicare_Provider_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Practitioner_s_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Professional_Association_Membership__c</field>
            <value>
                <elementReference>Professional_Association_Membership_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications_and_Expertise__c</field>
            <value>
                <elementReference>Qualifications_and_Expertise</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Management_Strategy__c</field>
            <value>
                <elementReference>RiskManagementStrategy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sites__c</field>
            <value>
                <elementReference>Sites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_App_Good</name>
        <label>Create New App-Good Record</label>
        <locationX>331</locationX>
        <locationY>680</locationY>
        <assignRecordIdToReference>NewAppGood.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Append_Product_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Active_Ingredients_Concentrations__c</field>
            <value>
                <elementReference>Active_Ingredient_s_And_Concentrations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Good_Indications_Description__c</field>
            <value>
                <elementReference>Other_Clinical_Indications_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App_Good_Indications__c</field>
            <value>
                <elementReference>Which_clinical_indications_will_this</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>NewApplicationRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_Good_Alternative__c</field>
            <value>
                <elementReference>Is_there_an_approved_Good_for_the_same_indication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approved_In_Other_Jurisdiction__c</field>
            <value>
                <elementReference>Is_this_Good_approved_for_use_in_other_Jurisdictions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinical_Justification__c</field>
            <value>
                <elementReference>clinical_justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Form__c</field>
            <value>
                <elementReference>LTDosage_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage_Range__c</field>
            <value>
                <elementReference>Dosage_Range</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dosage__c</field>
            <value>
                <elementReference>LTDosage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Duration_Of_Treatment__c</field>
            <value>
                <elementReference>Expected_Duration_of_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Justification_Not_Using_Alternative__c</field>
            <value>
                <elementReference>Why_is_the_approved_good</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Company__c</field>
            <value>
                <elementReference>Product_Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Trade_Name__c</field>
            <value>
                <elementReference>Product_Trade_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seriousness__c</field>
            <value>
                <elementReference>Seriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor__c</field>
            <value>
                <elementReference>Sponsor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tried_Will_Try_Approved_Alternative__c</field>
            <value>
                <elementReference>Have_you_already_or_will_you_attempt_to_use_the_approved_good_prior_to_supplying</elementReference>
            </value>
        </inputAssignments>
        <object>App_Good__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_ApplicationRecord</name>
        <label>Get new Application&apos;s ref no.</label>
        <locationX>876</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asgnSupportDocsStg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewApplicationRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Append_Product_Information</name>
        <label>Attach Product Information Docs</label>
        <locationX>567</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>More_Goods_Heading</targetReference>
        </connector>
        <fields>
            <name>progresspropducts</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_2B</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Product Documentation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload any relevant product information you may have to support your application.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Information_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product Information Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewApplicationRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>confirm</name>
        <label>Confirm Details Screen</label>
        <locationX>981</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Application_Record</targetReference>
        </connector>
        <fields>
            <name>PIconfirmandsubmit</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>confirmheader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Confirmation&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review the information you have provided and press NEXT to save your application and proceed to the next step.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirms</name>
            <fieldText>&lt;p&gt;{!confirminput}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>hdrentasnemail</name>
        <label>hdrsentanemail</label>
        <locationX>1195</locationX>
        <locationY>632</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PISentandEmail</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>check_your_email</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Check your email&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;We have sent you a declaration to the email address you provided  ({!Email} ). You will find the declaration attached as a PDF fie. This document needs to be scanned and signed by the applicant. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_Goods_Heading</name>
        <label>Add More Goods to this Application?</label>
        <locationX>902</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Another_Good</targetReference>
        </connector>
        <fields>
            <name>progressaddmoregoods</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_More_Goods2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;More Goods?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you wish to add more unapproved goods to this application?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No</name>
            <dataType>Boolean</dataType>
            <fieldText>No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Supporting_Documents</name>
        <label>Add Supporting Documents Screen</label>
        <locationX>550</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>asgnGoodIndsStg</targetReference>
        </connector>
        <fields>
            <name>scrheader3</name>
            <fieldText>&lt;p&gt;{!get_ApplicationRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PISupportingDocs</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_1B</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Supporting Documents&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your application has been successfully saved. Please note your reference : &lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!get_ApplicationRecord.Name}.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload your supporting documents.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Minimum Of Three TGA-SAS-B Approval Letters.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Supporting Evidence Including Certificates Of Attendance Or Completion Of A Continuing Professional Education Course/Activity.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Informed Consent Form (Which Will Be Signed By Patients)&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewApplicationRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>File_Upload.contentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Prescriber</name>
        <label>Prescriber Entry Screen</label>
        <locationX>712</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>confirm</targetReference>
        </connector>
        <fields>
            <name>PIprescriber</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_1A</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Prescriber&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please enter the Prescriber details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AHPRA_Number</name>
            <dataType>String</dataType>
            <fieldText>AHPRA Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;AHPRA number format is A3N10 e.g. MED0000000001&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!AHPRA_Number},&quot;[A-Z]{3}[0-9]{10}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Medicare_Provider_Number</name>
            <dataType>String</dataType>
            <fieldText>Medicare Provider Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Professional_Association_Membership_Number</name>
            <dataType>String</dataType>
            <fieldText>Professional Association Membership Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ABN</name>
            <dataType>String</dataType>
            <fieldText>ABN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please use a valid email format&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Sites</name>
            <fieldText>Sites At Which The Unapproved Good Will Be Prescribed (List All Addresses)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Qualifications_and_Expertise</name>
            <fieldText>Qualifications and Expertise</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RiskManagementStrategy</name>
            <fieldText>Risk Management</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;How will risks associated with the use of the unapproved good by managed? This should address:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Process of obtaining informed consent from patient.&lt;/li&gt;&lt;li&gt;Monitoring and reporting that will be undertaken (include details of interval and duration of monitoring)&lt;/li&gt;&lt;li&gt;Process of investigating   and reporting adverse   events&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;i&gt;Please append &lt;/i&gt;&lt;b&gt;&lt;i&gt;Informed Consent Form&lt;/i&gt;&lt;/b&gt;&lt;i&gt; (which will be signed by patients).&lt;/i&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>The_Unapproved_Goods_1</name>
        <label>Unapproved Good Entry Screen1</label>
        <locationX>327</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Indications_and_Dosages</targetReference>
        </connector>
        <fields>
            <name>PIGoods_and_Indications</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Section_2A</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Unapproved Goods&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please tell us the details of the unapproved goods you wish to prescribe.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Trade_Name</name>
            <dataType>String</dataType>
            <fieldText>Product Trade Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Product_Company</name>
            <dataType>String</dataType>
            <fieldText>Product Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Active_Ingredient_s_And_Concentrations</name>
            <fieldText>Active Ingredient(s) And Concentrations</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LTDosage_Form</name>
            <fieldText>Dosage Form</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LTDosage</name>
            <fieldText>Dosage</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sponsor</name>
            <dataType>String</dataType>
            <fieldText>Sponsor (Company From Whom You Will Obtain The Unapproved Good)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_this_Good_approved_for_use_in_other_Jurisdictions</name>
            <dataType>String</dataType>
            <fieldText>Is this Good approved for use in other Jurisdictions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unapproved_Goods_Screen2</name>
        <label>Unapproved Goods Screen2</label>
        <locationX>217</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_App_Good</targetReference>
        </connector>
        <fields>
            <name>PIscreen2</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>tellusaboutindications</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Clinical Information&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Please tell us the clinical details, proposed indications and other information about the unapproved good.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_clinical_indications_will_this</name>
            <choiceReferences>CancerRelatedPain</choiceReferences>
            <choiceReferences>ChemotherapyinducednauseaVomiting</choiceReferences>
            <choiceReferences>Parkinsons</choiceReferences>
            <choiceReferences>Insomnia</choiceReferences>
            <choiceReferences>NeuropathicPain</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which clinical indications will this Good be used for?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Clinical_Indications_Notes</name>
            <fieldText>Other Clinical Indications Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Seriousness_of_the_medical_condition_s_for_which_the_good_will_be_used</name>
            <fieldText>Seriousness of the medical condition(s) for which the good will be used</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Dosage_Range</name>
            <fieldText>Dosage Range</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Expected_Duration_of_Treatment</name>
            <dataType>String</dataType>
            <fieldText>Expected Duration of Treatment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>clinical_justification</name>
            <fieldText>Clinical justification for using the unapproved good.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Is_there_an_approved_Good_for_the_same_indication</name>
            <fieldText>Is there an approved Good for the same indication?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_already_or_will_you_attempt_to_use_the_approved_good_prior_to_supplying</name>
            <fieldText>Have you already or will you attempt to use the approved good prior to supplying the unapproved good?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Why_is_the_approved_good</name>
            <fieldText>Why is the approved good inappropriate or unsuitable for use?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>433</locationX>
        <locationY>76</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asgnPrescriberStg</targetReference>
        </connector>
        <fields>
            <name>PIInitial</name>
            <extensionName>dhfpi:lwcProgressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>Initial</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welcome_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Welcome&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿Welcome to the application for registration to prescribe medicinal cannabis. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To proceed, please confirm you have the following items ready (they will be necessary to complete the process):&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Checklist1</name>
            <dataType>Boolean</dataType>
            <fieldText>A Minimum Of Three TGA-SAS-B Approval Letters</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please confirm that you have the items ready before proceeding&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Checklist1}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Checklist2</name>
            <dataType>Boolean</dataType>
            <fieldText>Any Supporting Evidence Including Certificates Of Attendance Or Completion Of A Continuing Professional Education Course/Activity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please confirm that you have the items ready before proceeding&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Checklist2}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Checklist3</name>
            <dataType>Boolean</dataType>
            <fieldText>Informed Consent Form To Be Signed By Patients</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please confirm that you have the items ready before proceeding&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Checklist3}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Checklist4</name>
            <dataType>Boolean</dataType>
            <fieldText>Product Information For The Goods You Are Planning To Prescribe</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please confirm that you have the items ready before proceeding&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>IF({!Checklist4}=TRUE,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Add_Application_Supporting_Documents</name>
        <isActive>true</isActive>
        <label>Supporting Docs</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <name>Completed</name>
        <isActive>false</isActive>
        <label>Done</label>
        <stageOrder>100</stageOrder>
    </stages>
    <stages>
        <name>Confirm_and_Save</name>
        <isActive>false</isActive>
        <label>Confirm and Save</label>
        <stageOrder>22</stageOrder>
    </stages>
    <stages>
        <name>Declarations</name>
        <isActive>true</isActive>
        <label>Declarations</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Goods_and_Indications</name>
        <isActive>true</isActive>
        <label>Product Information</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Indications_Dosage_and_Justifications</name>
        <isActive>true</isActive>
        <label>Treatment Details</label>
        <stageOrder>42</stageOrder>
    </stages>
    <stages>
        <name>Initial</name>
        <isActive>true</isActive>
        <label>Welcome</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Prescriber</name>
        <isActive>true</isActive>
        <label>Prescriber</label>
        <stageOrder>20</stageOrder>
    </stages>
    <start>
        <locationX>49</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>confirminput</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;AHPRA No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!AHPRA_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Medicare Provider No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Medicare_Provider_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Prof. Membership No&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Professional_Association_Membership_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;ABN&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ABN}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Phone&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Address}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Sites&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Sites}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Qualifications and Expertise&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Qualifications_and_Expertise}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Risk Management Strategy&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!RiskManagementStrategy}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>niimlogo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://niim--c.ap11.content.force.com/sfc/servlet.shepherd/version/download/0682s000003fmD0?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CreateNewApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>File_Upload_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileUploadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAppGood</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>App_Good__c</objectType>
    </variables>
    <variables>
        <name>NewApplicationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>NewGood</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Good__c</objectType>
    </variables>
</Flow>
